body {
    /* position: relative; */
    background-color: #FCF6F5FF;
    font-family: Helvetica, Verdana, sans-serif;
}

#home {
    height: 100vh;
    width: 100%;
    margin: 0;
}

#top-nav {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#top-nav a {
    border: 0.5em #b44956 solid;
    flex-grow: 1;
    text-align: center;
    max-width: 100%;
    position: relative;
    background: #FCF6F5FF;
    cursor: pointer;
}

#top-nav a.current {
    color: #b44956;
}

#top-nav a:last-child {
    border-right: 1em #b44956 solid;
}

#top-nav a:first-child {
    border-left: 1em #b44956 solid;
}

#top-nav a:after {
    content: '';
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b4495688;
    transition: opacity 0.2s;
    border-radius: 5px;
}

#top-nav a.current:after {
    background-color: #00000044;
}

#top-nav a:hover:after {
    opacity: 0.5;
}

#top-nav a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

#width {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    margin: 25px 0;
    display: flex;
    flex-grow: 1;
}

.half-content {
    width: 50%;
}

.circle-container {
    background: #FCF6F5FF;
    border-right: 0.5em;
}

.circle-image {
    border-radius: 50%;
    width: 350px;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1em #b44956 solid;
}

.intro-container {
    /* border: 1em #b44956 solid; */
    padding: 1em;
}

.intro-container h1 {
    font-size: 4em;
    margin-bottom: 0;
    color: #b44956;
}

.pirate-wheel {
    width: 320px;
    height: 320px;
    /* background-image: url('../images/ship.png'); */
}