:root {
    --main-bg-color: #669999;
  }

body {
    /* position: relative; */
    background-color: #FCF6F5FF;
    font-family: Helvetica, Verdana, sans-serif;
}

#home {
    height: 100vh;
    width: 100%;
    margin: 0;
}

#top-nav-bg {
    display: flex;
    max-width: 1640px;
    margin: auto;
}

#top-nav {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    order: 2;
    flex-basis: 100%;
    margin: 0 -1px;
}

#top-nav a {
    border: 0.5em var(--main-bg-color) solid;
    border-bottom: 0.75em var(--main-bg-color) solid;
    border-top: 0.75em var(--main-bg-color) solid;
    flex-grow: 1;
    text-align: center;
    max-width: 100%;
    position: relative;
    background: #FCF6F5FF;
    cursor: pointer;
}

#top-nav a.current {
    color: var(--main-bg-color);
}

#top-nav a:after {
    content: '';
    position: absolute;
    opacity: 0;
    width: calc(100% - 2em);
    height: calc(100% - 1.5em);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-bg-color);
    transition: all 0.2s;
    border-radius: 50px;
}

#top-nav a.current:after {
    background-color: #00000044;
}

#top-nav a:hover:after {
    opacity: 0.5;
    border-radius: 50px 0;
}

#top-nav a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

#nav-feature-left {
    order: 1;
    flex-grow: 1;
    background-color: var(--main-bg-color);
    border-radius: 0 0 0 100px;
}

#nav-feature-right {
    order: 3;
    flex-grow: 1;
    background-color: var(--main-bg-color);
    border-radius: 0 0 100px 0;
}

#content-holder {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

#content {
    margin: 25px 0;
    display: flex;
    flex-grow: 1;
}

.half-content {
    width: 50%;
}

.circle-container {
    background: #FCF6F5FF;
    border-right: 0.5em;
}

.circle-image {
    border-radius: 50%;
    width: 350px;
    margin: auto;
    display: block;
    position: relative;
    top: 120px;
    border: 1em var(--main-bg-color) solid;
}

.intro-container {
    padding: 1em;
}

.intro-container h1 {
    font-size: 4em;
    margin-bottom: 0;
    color: var(--main-bg-color);
}

.pirate-wheel {
    width: 320px;
    height: 320px;
    /* background-image: url('../images/ship.png'); */
}